.head {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 2rem;
}
.logo {
    display: flex;
    align-items: center;
    justify-content: center;
}
.logoLetter {
    position: relative;
    font-size: 2rem;
    font-weight: bold;
    right: 1.95rem;
    top: 0.1rem;
    color: white;
}
.list {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    list-style: none;
    font-size: 1.2rem;
}
li {
    color: #000000a8;
}
li:hover {
    text-decoration: underline;
    cursor: pointer;
    color: black;
}
.activeLink {
    font-weight: bold;
    color: black;
}
